@page
@model RegisterModel
@{
    ViewData["Title"] = "Sign Up";
}

<link rel="stylesheet" href="/css/login-signup.css">
<div class="shadowed-bg page-overlay"></div>
@Html.PartialAsync("Welcome/_Nav").Result
<div class="center">
    <div id="SignUpForm" class="LoginForm">
        <header>Sign Up</header>
        <div asp-validation-summary="All" class="text-danger"></div>
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <div class="field">
                <input type="email" asp-for="Input.Email" placeholder="Email">
                <label asp-for="Input.Email">Email</label>
            </div>
            <div class="field">
                <input type="password" asp-for="Input.Password" placeholder="Password" required>
                <label asp-for="Input.Password">Password</label>
            </div>
            <div class="field">
                <input type="password" asp-for="Input.ConfirmPassword" placeholder="Confirm Password" required>
                <label asp-for="Input.ConfirmPassword">Confirm Password</label>
            </div>
            <div class="field">
                <input type="text" asp-for="Input.TOKEN" placeholder="TOKEN" required>
                <label asp-for="Input.TOKEN">TOKEN</label>
            </div>
            <button id="submit-btn" class="btn" type="submit">Sign Up</button>
        </form>
        <p id="extra-info">Already Have an Account?<br><a href="/Identity/Account/Login">Click Here to Login</a></p>
    </div>
</div>
