<link href="~/css/contextmenu.css" rel="stylesheet" />
<div class="custom-cm">
    <div class="custom-cm__item disabled">Flexx TV</div>
    <div class="custom-cm__divider"></div>
    <div class="custom-cm__item" onclick="window.location.href='@Url.Action("Shows", "TV")'">TV</div>
    <div class="custom-cm__item" onclick="window.location.href='@Url.Action("Movies", "Movie")'">MOVIES</div>
    <div class="custom-cm__divider"></div>
    <div class="custom-cm__item" onclick="window.location.href='@Url.Action("Profile", "Account")'">Profile</div>
    <div class="custom-cm__item" onclick="document.getElementById('logoutForm').submit()">Logout</div>
</div>

<script src="~/js/contextmenu.js">

</script>
