<link rel="stylesheet" href="/css/main.css" />
<link rel="stylesheet" href="/css/plyr.css" />
<link rel="stylesheet" href="/css/videoplayer.css">
<div class="container">
    <video controls playsinline>
        <source src="https://r2---sn-ab5szn7l.googlevideo.com/videoplayback?expire=1615291399&ei=pw9HYKOSJ4iUhgbc3YHQCQ&ip=67.255.231.244&id=o-ABJwbWEAS671YVAfjcQbERIFXu10tH224YT4omZZO1lB&itag=22&source=youtube&requiressl=yes&mh=Ix&mm=31%2C26&mn=sn-ab5szn7l%2Csn-vgqskne6&ms=au%2Conr&mv=m&mvi=2&pl=18&ctier=A&pfa=5&initcwndbps=1927500&hightc=yes&vprv=1&mime=video%2Fmp4&ns=TOcsu4IVoflFtshGznxez0cF&cnr=14&ratebypass=yes&dur=1031.894&lmt=1615236441713650&mt=1615269395&fvip=2&fexp=24001374%2C24007246&c=WEB&txp=5535432&n=TPNCAmGyHi07dzqdaf&sparams=expire%2Cei%2Cip%2Cid%2Citag%2Csource%2Crequiressl%2Cctier%2Cpfa%2Chightc%2Cvprv%2Cmime%2Cns%2Ccnr%2Cratebypass%2Cdur%2Clmt&sig=AOq0QJ8wRgIhANyPIGSnexBkdbekxOQZWraXrT5aovJxt9XCkZCIGZxrAiEA0ZtWa4TyHZAjuXRq8WapymHbt9M-pRWp6LXIt5GU_B4%3D&lsparams=mh%2Cmm%2Cmn%2Cms%2Cmv%2Cmvi%2Cpl%2Cinitcwndbps&lsig=AG3C_xAwRQIgEr6kYPnBCGZjInH43PGM1kU4cDmGNYG5ADHhy5LjcP4CIQC6y6cu9_rFgR9L2CMZX2IwEUkdj7b-_0xFRNdjo4Bygg%3D%3D" type="video/mp4" size="720">
    </video>
</div>
<script src="/js/plyr.js"></script>
<script src="/js/videoplayer.js"></script>