@{
    ViewData["Title"] = "Sign Up";
}

<link rel="stylesheet" href="/css/login-signup.css">
<div class="shadowed-bg page-overlay"></div>
@Html.PartialAsync("Welcome/_Nav").Result
<div class="center">
    <div id="LoginForm">
        <header>Sign Up</header>
        <form action="/Dashboard/index.html">
            <div class="field">
                <input type="email" name="email" id="email" placeholder="Email">
                <label for="email">Email</label>
            </div>
            <div class="field">
                <input type="password" name="passwd" id="passwd" placeholder="Password" required>
                <label for="passwd">Password</label>
            </div>
            <div class="field">
                <input type="password" name="cfrmpasswd" id="cfrmpasswd" placeholder="Confirm Password" required>
                <label for="cfrmpasswd">Confirm Password</label>
            </div>
            <button id="submit-btn" class="btn" type="submit">Sign Up</button>
        </form>
        <p id="extra-info">Already Have an Account?<br><a href="@Url.Action("Login", "Welcome")">Click Here to Login</a></p>
    </div>
</div>
