@{
    ViewData["Title"] = "Welcome";
}

@Html.PartialAsync("Welcome/_Nav").Result
<link rel="stylesheet" href="/css/welcome.css" />
<div class="shadowed-bg page-overlay"></div>

<div id="HeroBanner">
    <div id="heroBG" class="shadowed-bg"></div>
    <h1>Your Own Personal Streaming Service.</h1>
    <h2>Watch anything, anywhere</h2>
    <div id="calltoaction" class="btn center" onclick="window.location.href='/Identity/Account/Login'">Start Watching</div>
</div>
