@using Microsoft.AspNetCore.Identity
@using com.drewchaseproject.net.Flexx.Web.Service.Areas.Identity.Data

@inject SignInManager<FlexxUser> SignInManager
@inject UserManager<FlexxUser> UserManager
@if (SignInManager.IsSignedIn(User))
{
    <script>
        window.location.href = "@Url.Action("Index", "Dashboard")";
    </script>
}
else
{
    <div id="nav">
        <div id="nav-bg" class="shadowed-bg"></div>
        <div id="branding" onclick="window.location.href='@Url.Action("Welcome", "Welcome")'">Flexx</div>
        <div id="navigation">
            <ul>
                <li>
                    <div onclick="window.location.href='/Identity/Account/Register'" class="btn btn-clear-primary">Sign Up</div>
                </li>
                <li>
                    <div onclick="window.location.href='/Identity/Account/Login'" class="btn ">Login</div>
                </li>
            </ul>
        </div>
    </div>

}