@using Microsoft.AspNetCore.Identity
@using Flexx.Web.Service.Areas.Identity.Data

@inject SignInManager<FlexxUser> SignInManager
@inject UserManager<FlexxUser> UserManager
@if (SignInManager.IsSignedIn(User))
{
    <script>
        window.location.href = "@Url.Action("Overview", "Library")";
    </script>
}
else
{
    <div id="nav">
        <div id="nav-bg" class="shadowed-bg"></div>
        <div id="branding" onclick="window.location.href='@Url.Action("Welcome", "Welcome")'">Flexx</div>
        <div id="navigation">
            <ul>
                <li>
                    <div onclick="window.location.href='/Identity/Account/Register'" class="btn btn-clear-primary">Sign Up</div>
                </li>
                <li>
                    <div onclick="window.location.href='/Identity/Account/Login'" class="btn ">Login</div>
                </li>
            </ul>
        </div>
    </div>

    <script>
        var html = `<div class="custom-cm__item disabled">Flexx TV</div>
        <div class="custom-cm__divider"></div>
        <div class="custom-cm__item" onclick="window.location.href='/Identity/Account/Register'">Sign Up</div>
        <div class="custom-cm__item" onclick="window.location.href='/Identity/Account/Login'">Login</div>`;
        loadContextMenuItems(html);
    </script>

}