@{
    ViewData["Title"] = "Overview";
}
<link rel="stylesheet" href="/css/main.css">
<link rel="stylesheet" href="/css/Media.css">
<script>
    changeActiveNavItem(0);
</script>
@Html.PartialAsync("Library/_Nav").Result
<div class="shadowed-bg page-overlay"></div>
<div class="Media">
    <div class="itemCarosel">
        <div class="caroselTitle">Continue Watching</div>
        <div class="caroselSeperator"></div>
        <ul>
            <li>
                <div class="mediaItem"></div>
            </li>
            <li>
                <div class="mediaItem"></div>
            </li>
            <li>
                <div class="mediaItem"></div>
            </li>
            <li>
                <div class="mediaItem"></div>
            </li>
            <li>
                <div class="mediaItem"></div>
            </li>
            <li>
                <div class="mediaItem"></div>
            </li>
            <li>
                <div class="mediaItem seemore center">
                    See<br>More
                </div>
            </li>
        </ul>
    </div>
    <div class="itemCarosel">
        <div class="caroselTitle">Up Next</div>
        <div class="caroselSeperator"></div>
        <ul>
            <li>
                <div class="mediaItem"></div>
            </li>
            <li>
                <div class="mediaItem"></div>
            </li>
            <li>
                <div class="mediaItem"></div>
            </li>
            <li>
                <div class="mediaItem"></div>
            </li>
            <li>
                <div class="mediaItem"></div>
            </li>
            <li>
                <div class="mediaItem"></div>
            </li>
            <li>
                <div class="mediaItem seemore center">
                    See<br>More
                </div>
            </li>
        </ul>
    </div>
    <div class="itemCarosel">
        <div class="caroselTitle">New Movies</div>
        <div class="caroselSeperator"></div>
        <ul>
            <li>
                <div class="mediaItem"></div>
            </li>
            <li>
                <div class="mediaItem"></div>
            </li>
            <li>
                <div class="mediaItem"></div>
            </li>
            <li>
                <div class="mediaItem"></div>
            </li>
            <li>
                <div class="mediaItem"></div>
            </li>
            <li>
                <div class="mediaItem"></div>
            </li>
            <li>
                <div class="mediaItem seemore center">
                    See<br>More
                </div>
            </li>
        </ul>
    </div>
    <div class="itemCarosel">
        <div class="caroselTitle">New TV Shows</div>
        <div class="caroselSeperator"></div>
        <ul>
            <li>
                <div class="mediaItem"></div>
            </li>
            <li>
                <div class="mediaItem"></div>
            </li>
            <li>
                <div class="mediaItem"></div>
            </li>
            <li>
                <div class="mediaItem"></div>
            </li>
            <li>
                <div class="mediaItem"></div>
            </li>
            <li>
                <div class="mediaItem"></div>
            </li>
            <li>
                <div class="mediaItem seemore center">
                    See<br>More
                </div>
            </li>
        </ul>
    </div>
</div>
