@{
    ViewData["Title"] = "Movies";
}
<link rel="stylesheet" href="/css/main.css">
<link rel="stylesheet" href="/css/dashboard.css">
@Html.PartialAsync("Dashboard/_Nav").Result
<div class="shadowed-bg page-overlay"></div>
<div class="dashboard">
    <div class="itemCarosel">
        <div class="caroselTitle">Movies</div>
        <div class="caroselSeperator"></div>
        <ul>
            @foreach (var movie in com.drewchaseproject.net.Flexx.Media.Libraries.LibraryListModel.Singleton.GetByName("movies").Movies)
            {
                <li>
                    <div class="mediaItem" onmouseover="document.querySelector('body').style.background = 'url(@movie.CoverURL)'" onclick="window.location.href = '/Movies/@movie.Title'">
                        <img src="@movie.PosterURL" />
                    </div>
                </li>
            }
        </ul>
    </div>
</div>
<script>
    document.querySelector('body').style.background = 'url(@com.drewchaseproject.net.Flexx.Media.Libraries.LibraryListModel.Singleton.GetByName("movies").Movies[0].CoverURL)'
    document.querySelector('body').style.backgroundRepeat = "no-repeat"
    document.querySelector('body').style.backgroundSize = "cover"
    document.querySelector('body').style.backgroundAttachment = "fixed"

    Array.from(document.getElementsByClassName('mediaItem')).forEach(item => {
        item.addEventListener('mouseover', e => {
            document.querySelector('body').style.backgroundRepeat = "no-repeat"
            document.querySelector('body').style.backgroundSize = "cover"
            document.querySelector('body').style.backgroundAttachment = "fixed"
        })
    })
</script>