#movie {
    position: relative;
    margin-bottom: 200px;
}

#moviePoster {
    transition: 0.2s;
    position: relative;
    width: 502px;
    height: 754px;
    margin-left: 100px;
}

    #moviePoster img {
        width: 100%;
        height: 100%;
    }

#overview {
    transition: 1s;
    position: absolute;
    right: 125px;
    top: 0px;
    width: 55%;
}

#movieTitle {
    font-size: 65px;
    font-weight: 300;
}

#movieTitleSeperator {
    outline: 1px solid white;
    width: 100%;
    height: 0px;
    margin-bottom: 25px;
}

#movieSummery {
    font-size: 24px;
    font-weight: 600;
    margin: 10px 50px;
    max-height: 250px;
    overflow: auto;
}

#overview .shadowed-bg {
    position: absolute;
    opacity: .5;
    z-index: -1;
    width: 100%;
    height: 75vh;
}

#movieExecutives {
    position: relative;
    left:75px;
    top: 25px;
    font-size: 18px;
    width: 350px;
}

    #movieExecutives li {
        display: block;
        margin-bottom: 25px;
    }

    #movieExecutives .executiveTitle {
        position: absolute;
        text-align: right;
        font-size: 14px;
        font-weight: 400;
        left: -10px;
        margin-top: 5px;
    }

    #movieExecutives .executiveName {
        font-size: 18px;
        font-weight: 600;
        margin-left: 40px;
    }

#movieExecutivesSeperator {
    position: absolute;
    outline: 1px solid white;
    height: 100%;
    left: 60px;
    width: 0px;
}

#movieStats {
    position: relative;
    font-size: 18px;
    top: 25px;
    width: 350px;
}

#length {
    position: absolute;
    padding: 10px;
    margin-right: 25px;
    margin-bottom: 5px;
    width: fit-content;
    height: 30px;
    text-align: center;
    left: 0;
}

#rating {
    position: absolute;
    float: right;
    margin-left: 25px;
    background-color: #494949;
    padding-top: 5px;
    margin-bottom: 5px;
    min-width: 83px;
    height: 30px;
    text-align: center;
    width: max-content;
    padding-left: 10px;
    padding-right: 10px;
    right: 0;
}

#language {
    position: absolute;
    float: left;
    margin-bottom: 5px;
    padding: 10px;
    text-align: center;
    width: fit-content;
    height: 30px;
    left: 0;
    top: 50px;
}

#resolution {
    position: absolute;
    background-color: #494949;
    padding-top: 5px;
    height: 30px;
    text-align: center;
    width: max-content;
    min-width: 83px;
    padding-left: 10px;
    padding-right: 10px;
    right: 0;
    top: 50px;
}

#genres {
    position: relative;
    width: 100%;
    height: 100px;
    margin-top: 60px;
}

    #genres li {
        display: block;
        float: left;
        margin-left: 5px;
    }

#cast {
    position: relative;
    margin-top: 80px;
    width: 100%;
}

.castCard {
    display: block;
    float: left;
    margin-right: 50px;
    background: white;
    width: 130px;
    height: 275px;
    color: black;
    text-align: center;
    border-radius: 10px;
    transition: .2s;
    position: relative;
}

    .castCard:hover {
        cursor: pointer;
        transform: translateY(-13px) scale(1.01);
    }

img.castImage {
    width: 100%;
    background-size: cover;
    overflow: hidden;
    margin-bottom: 10px;
}

.actorName {
    font-size: 11px;
    margin-bottom: 5px;
    font-weight: 700;
}

.actorRole {
    font-size: 9px;
    font-weight: 400;
    position: absolute;
    bottom: 15px;
    text-align: center;
    width: 100%;
}


#moviePoster:hover #actions {
    opacity: 1;
}

#actions, #secondaryActions {
    transition: 0.2s;
    opacity: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.65);
    text-align: center;
    align-items: center;
    outline: 1px solid var(--primary);
}
#secondaryActions{
    position: relative;
    opacity: 1;
    z-index: 99;
    margin-top: 300px;
}

#secondaryActions li{
    background-color:white;
    color:black;
}

    #actions ul, #secondaryActions ul {
        display: block;
        position: absolute;
        bottom: 25%;
        width: 100%;
    }

    #actions li, #secondaryActions li {
        transition: 0.2s;
        margin-bottom: 35px;
        padding: 25px 0px;
        font-size: 32px;
        font-weight: 300;
    }

        #actions li:hover , #secondaryActions li:hover {
            cursor: pointer;
            background-color: #ffffffdc;
            color: black;
            font-weight: 600;
            transform: translateY(-8px);
        }


#videoView {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.91);
    top: 0;
    left: 0;
    z-index: 99;
}

    #videoView #exitBtn {
        position: absolute;
        right: 25px;
        top: 10px;
        cursor: pointer;
        z-index: 3;
    }
    #secondaryActions{
        display:none;
    }


    @media (max-width: 1725px){
        #movieTitle, #movieTitleSeperator{
            font-size: 30px;
            transition: 1s;
        }
        #moviePoster{
            transition: 1s;
            height: calc(502px * 1.3);
            width: calc(334px * 1.3);
            margin-left: 0px;
        }
        #movieSummery{
            transition: 1s;
            font-size: 16px;
        }
        #movieStats{
            transition: 1s;
        }
    }

    

    @media (max-width: 1490px){
        #cast{
            transition: 1s;
        }
        #movieSummery{
            transition: 1s;
            max-height: 100px;
        }
    }
    @media (max-width: 1457px){
        #movieExecutives{
            display:none;
        }
        #cast{
            display: none;
        }
        #movieStats{
            transition: 1s;
            right: 150px;
            width: 200px;
        }
        #movie{
            transition: 1s;
            margin-bottom: 0px;
        }
        
        #movieSummery{
            transition: 1s;
            max-height: 250px;
        }
    }

    @media (max-width: 1341px){
        #overview{
            transition: 1s;
            width: 45%;
            margin-left: 200px;
        }
    }

    
    @media (max-width: 1150px){
        #overview{
            transition: 1s;
            width: 35%;
        }
    }

    @media (max-width: 991px){
        #movieStats{
            display:none;
        }
        #moviePoster{
            transition: 1s;
            transform: translateX(-500px);
        }
        #movie{
            transition: 1s;
            min-height: 50vh;
        }
        #overview{
            position: absolute;
            transition: 1s;
            width: 100%;
            left:-200px;
        }
        #secondaryActions{
            display: block;
        }

    }