/* width */
::-webkit-scrollbar {
    position: absolute;
    transition: .5s;
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    transition: .5s;
    background: #1c1c1c;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    transition: .5s;
    background: var(--primary);
  }
  
  /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        filter: brightness(85%);
    }