@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{

}
body {
    background-color: black;
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;
}

#videoOverlay {
    overflow: hidden;
    transition: .5s;
    opacity: 0;
    z-index: 1;
    color: white;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
}

    #videoOverlay.overlayActive {
        opacity: 1;
    }

    #videoOverlay #overlayBG {
        z-index: -1;
        position: absolute;
        background-color: rgba(0,0,0,.5);
        width: 100%;
        height: 100%;
    }

#nonActiveArea {
    background-color: transparent;
    position: absolute;
    left: 0;
    top: 100px;
    width: 100%;
    height: calc(100vh - 220px);
}

#videoTitle {
    font-size: 45px;
    font-weight: 300;
    margin-left: 15px;
    margin-top: 15px;
    display: inline-flex;
}

    #videoTitle #videoYear {
        font-size: 27px;
        font-weight: 300;
        margin-top: 15px;
        margin-left: 25px;
    }

#closeBtn {
    transition: .2s;
    position: absolute;
    right: 15px;
    top: 15px;
    width: 22px;
    height: 22px;
    padding: 5px;
    cursor: pointer;
    border-radius: 5px;
}

    #closeBtn:hover {
        background-color: var(--primary);
    }

video {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
}

#timestamp, #fullscreenBtn {
    transition: .2s;
    position: absolute;
    width: 18px;
    height: 21px;
    bottom: 35px;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}

#controls {
    position: absolute;
    bottom: 25px;
    width: 100%;
    justify-content: center;
    display: flex;
}

    #controls ul {
        position: relative;
        padding-inline-start: 0px;
    }

        #controls ul li {
            transition: .2s;
            float: left;
            width: 18px;
            height: 21px;
            padding: 10px;
            margin: 0px 10px;
            border-radius: 5px;
        }

            #controls ul li img, #fullscreenBtn img {
                filter: invert();
            }

    #controls ul {
        margin-bottom: 15px;
    }

        #controls ul li:hover {
            cursor: pointer;
            background-color: var(--primary);
        }
        #controls ul li.disabled{
            filter: brightness(50%);
        }
            #controls ul li.disabled:hover {
                cursor: default;
                background-color: transparent;
            }

            #controls ul li#volumeListItem {
                width: 0px;
                height: 0px;
                padding: 0px;
                margin: 0px;
            }

            #controls ul li#volumeListItem:hover {
                background-color: transparent;
            }

#skipForward, #skipBackward {
    position:relative;
    width: 32px;
    height: 32px;
}

    #skipBackward img, #skipForward img {
        position: absolute;
        top: -10px;
        left: -10px;
        right: 5px;
        bottom: 5px;
    }

#settings {
    display: none; /*------------------- REMOVE ME------------------ */
    left: 25px;
    width: 25px;
    height: 25px;
}

#timestamp {
    font-size: 23px;
    cursor: default;
    display: inline-flex;
    right: 70px;
    width: max-content;
}

    #timestamp #timeStampSeperator {
        margin: -3px 15px;
        border: 1px solid white;
        height: 150%;
    }

    #timestamp #currentTime {
        font-weight: 500;
    }

    #timestamp #totalTime {
        font-weight: 300;
    }

    #timestamp #endTime {
        font-weight: 100;
    }

#progress {
    transition: .5s;
    position: absolute;
    width: 100%;
    height: 5px;
    background-color: #474747;
    bottom: 100px;
    cursor: pointer;
}

    #progress:hover #video-progress-completed {
        height: 20px;
    }

    #progress:hover {
        height: 20px;
    }

#video-progress-completed {
    transition: .5s;
    z-index: 10;
    background-color: var(--primary);
    height: 5px;
    width: 100%;
}

#fullscreenBtn {
    width: 25px;
    height: 25px;
    right: 10px;
}

#volume {
    transition: .5s;
    position: absolute;
    width: 100%;
    left: 0;
    height: 5px;
    background-color: #474747;
    bottom: -10px;
    cursor: pointer;
    border-radius: 180px;
}

    #volume #volume-progress-completed {
        border-radius: 180px;
        transition: .5s;
        z-index: 10;
        background-color: var(--primary);
        height: 5px;
        width: 50%;
    }
