<link rel="stylesheet" href="/css/account.css">
<div id="side-nav">
    <ul>
        <li>Profile</li>
        <li>Users & Sharing</li>
        <li>Overview</li>
        <li>Overview</li>
        <li>Overview</li>
    </ul>
    <div class="seperator-vertical" id="side-nav-seperator"></div>
</div>