@using Flexx.Media.Libraries.Series
@using Flexx.Media.Libraries.Series.Extra
@model Episode
@{
    // /api/streaming/tv/{show}/{season}/{episode}/direct
    string src = $"/api/streaming/tv/{Model.Series.Title}/{Model.Season.Number}/{Model.Number}/direct".Replace(" ", "%20");
    string title = $"{Model.Title} - {Model.Series.Title}";
    string extra = $"S{(Model.Season.Number > 10 ? Model.Season.Number.ToString() : $"0{Model.Season.Number}")}E{(Model.Number > 10 ? Model.Number.ToString() : $"0{Model.Number}")}";
    string returnUrl = $"/Library/TV/{Model.Series.Title}/Season/{Model.Season.Number}/";
    var queue = TVPlayQueue.GenerateFromEpisode(Model);
    bool hasNextOption = queue.GetNext(Model) != null;
    bool hasPreviousOption = queue.GetPrevious(Model) != null;
    string nextURL = hasNextOption ? $"/Library/TV/{Model.Series.Title}/Season/{Model.Season.Number}/Episode/{queue.GetNext(Model).Number}/Watch" : "";
    string prevURL = hasPreviousOption ? $"/Library/TV/{Model.Series.Title}/Season/{Model.Season.Number}/Episode/{queue.GetPrevious(Model).Number}/Watch" : "";
}

<link rel="stylesheet" href="/css/video.css">
<div id="video">
    <div id="videoOverlay" class="overlayActive">
        <div id="overlayBG"></div>
        <div id="nonActiveArea"></div>
        <div id="videoTitle">
            @title
            <div id="videoYear">@extra</div>
        </div>
        <div id="closeBtn" onclick="window.location.href = '@returnUrl'">
            <img src="/images/svg/Close.svg" alt="">
        </div>
        <div id="Navigation">
            <div id="progress">
                <div id="video-progress-completed"></div>
            </div>

            <div id="settings">
                <img src="/images/svg/sliders-h-solid.svg" alt="">
            </div>
            <div id="controls">
                <ul>
                    <li>
                        @if (hasPreviousOption)
                        {
                            <div id="backward" onclick="window.location.href = '@prevURL'">
                                <img src="/images/svg/fast-backward-solid.svg" alt="">
                            </div>
                        }
                        else
                        {
                            <div id="backward">
                                <img src="/images/svg/fast-backward-solid.svg" alt="">
                            </div>
                        }
                    </li>
                    <li>
                        <div id="skipBackward">
                            <img src="/images/svg/step-backward-solid.svg" alt="">
                        </div>
                    </li>
                    <li>
                        <div id="play">
                            <img class="playBtn" src="/images/svg/play-solid.svg" alt="">
                        </div>
                    </li>
                    <li>
                        <div id="skipForward">
                            <img src="/images/svg/step-forward-solid.svg" alt="">
                        </div>
                    </li>
                    @if (hasNextOption)
                    {
                        <li>
                            <div id="forward" onclick="window.location.href = '@nextURL'">
                                <img src="/images/svg/fast-forward-solid.svg" alt="">
                            </div>
                        </li>
                    }
                    else
                    {
                        <li class="disabled">
                            <div id="forward">
                                <img src="/images/svg/fast-forward-solid.svg" alt="">
                            </div>
                        </li>
                    }
                    <li id="volumeListItem">
                        <div id="volume">
                            <div id="volume-progress-completed"></div>
                        </div>
                    </li>
                </ul>
            </div>
            <div id="timestamp">
                <div id="currentTime">00:00</div>
                <div id="timeStampSeperator"></div>
                <div id="totalTime">00:00</div>
                <div id="timeStampSeperator"></div>
                <div id="endTime">00:00</div>
            </div>
            <div id="fullscreenBtn">
                <img src="/images/svg/expand-solid.svg" alt="">
            </div>
        </div>
    </div>
    <video src="@src" autoplay></video>
</div>
<script src="/js/video.js"></script>
@if (hasNextOption)
{
    <script>
        video.addEventListener("ended", () => {
            window.location.href = '@nextURL';
        });
    </script>
}
else
{

    <script>
        video.addEventListener("ended", () => {
            window.location.href = '@returnUrl';
        });
    </script>
}
<script>
    setInterval(() => {
        if (Math.floor((video.currentTime / video.duration) * 100) > 90) {
            $("#backgroundTasks").load(`/api/streaming/tv/@Model.Series.Title.Replace(" ", "%20")/@Model.Season.Number/@Model.Number/save/watched/true`)
            $("#backgroundTasks").load(`/api/streaming/tv/@Model.Series.Title.Replace(" ", "%20")/@Model.Season.Number/@Model.Number/save/duration/0`)
        } else if (video.currentTime > 30) {
            $("#backgroundTasks").load(`/api/streaming/tv/@Model.Series.Title.Replace(" ", "%20")/@Model.Season.Number/@Model.Number/save/duration/${Math.floor(video.currentTime)}`)
        }
            }, 1000)
</script>
@if (Model.WatchedDuration > 0)
{
    <script>
        video.currentTime = @Model.WatchedDuration;
    </script>
}

<div id="backgroundTasks" style="display:none"></div>

