#side-nav {
    height: 50vh;
    margin-top: 10vh;
    line-height: 100px;
    width: 300px;
}

    #side-nav ul li {
        transition: 0.2s;
        background-color: #333333;
        color: white;
        text-align: center;
        margin-top: 25px;
    }

        #side-nav ul li:hover {
            background-color: var(--primary);
            color: white;
            font-weight: 600;
            cursor: pointer;
        }

#side-nav-seperator {
    position: absolute;
    height: 65vh;
    top: 20vh;
    left: 350px;
}

#main-area{
    position: absolute;
    border: 1px solid white;
    width: 66%;
    height: 100vh;
    right: 5px;
    top: 50px;
}