.custom-cm {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99999;
    background-color: var(--background);
    border: 1px solid var(--primary);
    box-shadow: 1px 1px 10px rgba(0,0,0,0.1);
    padding: 10px 0;
    width: 300px;
    display: none;
}

.custom-cm__item {
    transition: .2s;
    cursor: pointer;
    padding: 8px 15px;
}

    .custom-cm__item:hover {
        background-color: var(--primary);
    }
    .custom-cm__item.disabled {
        padding: 8px 15px;
        filter: brightness(33%);
    }

    .custom-cm__item:hover.disabled {
        background-color: transparent;
        cursor: default;
    }

.custom-cm__divider {
    margin: 10px 10px;
    border-bottom: 1px solid var(--primary);
    filter: brightness(45%);
}
